❓ Question 06 : Colorful Card

👉 Create a webpage with:

One <div> card
Inside it:
A heading
A paragraph

Apply CSS:

Card background → orange
Text color → white
Add padding
Set card width → 300px 
<html>
    <head>
        <title>
            div 
        </title>
        <link rel="stylesheet" href="style.css">
    </head>
<body>
    <div class="card">
    <h1>Hello</h1>
    <p>I'm learning CSS backgroud color and padding</p>
    </div>
</body>
</html>

------------------------------------------------------------

CSS
.card{
    background-color: orange;
    color: white;
    width: 300px;
}
