<!--
❓ Question 07: Styled Heading

👉 Create a webpage with:

One heading
One paragraph

Apply CSS:

Heading size → 40px
Heading align → center
Paragraph size → 20px

<html>
    <head>
        <title>
            font styling
        </title>
        <link rel="stylesheet" href="style.css">
    </head>
<body>
    
    <h1>Hello</h1>
    <p>I'm learning font styling</p>
    
</body>
</html>

----------------------------------------------------------

CSS

h1{
    font-size: 40px;
    text-align: center;
}
p{
    font-size: 20px;
}
